main {
  nav {
    border: 1px solid black;
    border-radius: 8px;

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      li {
        list-style-type: none;
        cursor: pointer;
        padding: 10x;
      }
    }
  }
}

.active {
  background-color: burlywood;
  padding: 10px;
  border-radius: 8px;
}
